
/*@import "c:\\Users\\thoma\\Documents\\Sites\\Packages\\fs-base-ui\\html_ui\\SCSS\\common.css";

html, body{
  height: 100%;
  min-height: 100%;
  background: #DEDEDE;
}*/




ingame-ui#CustomPanel #CustomPanelWrap {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 100% !important;
  /*border: 2px solid red !important;*/
  min-height: 0;
  min-width: 0;
  overflow:hidden;
  align-items: stretch !important;
  flex: 1 1 auto !important;
  font-family: var(--font);
  background: transparent url('img/bg2.png') repeat top left;
  background-size: cover;
}

ingame-ui#CustomPanel #CustomPanelWrap #CustomPanelIframe {
  flex: 1 1 auto !important;
  border: 0;
  display: none;
}
ingame-ui#CustomPanel #MainDisplay.hidden {
  display: none;
}
ingame-ui#CustomPanel #Footer.hidden {
  display: none;
}
ingame-ui#CustomPanel .ingameUiContent {
  /*border: 2px solid green !important;*/
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  height: 100% !important;
  min-height: 0 !important;
  min-width: 0 !important;
  overflow:hidden !important;
  align-items: stretch !important;
  flex: 1 1 auto !important;
}
ingame-ui#CustomPanel .ingameUiWrapper {
  /*border: 2px solid yellow !important;*/
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  height: 100% !important;
  min-height: 0 !important;
  min-width: 0 !important;
  overflow:hidden !important;
  align-items: stretch !important;
  flex: 1 1 auto !important;
}

#homebut{
  position: absolute;
  width: 5vw;
  height: 5vw;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 1.4vw;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s;
  box-shadow: 0 0 5px var(--color-white-op50);
}

#homebut:hover{
  transition: all 0.1s;
  transform: scale(1.05);
  box-shadow: 0 0 10px var(--color-white-op50);
}


.slider{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.slidecard{
  width: 25%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slidecard>div{
  margin: 2.3vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: rgb(51, 58, 66);
}

.slidecard>div>div{
  padding:1vw;
  border-radius: 2vw;
  transition: transform 1s ease;
  background-color: var(--color-dark-gray);
}

.slidecard>div:hover div{
  transform: scale(1.05);
  transition: transform 1s ease;
}
.slidecard>div>div>img{
  width: 7.7vw;
  height: 7.7vw;
  display: block;
}

.slidecard>div>h2{
  margin: 2vw 0 0 0;
  font-size: calc(var(--sizeMedium) * 1px);
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font);
}

#sliderholder{
  height: calc(100% - 60px);
  width: 100%; 
  overflow-y: auto;

  overflow-x: hidden;
  display: block;
  margin-left: 0;
  margin-right: 0;
}

#header{
  background-color: rgb(0,0,0);
  color:white;
  display: flex;
  padding: 0.6vw;
  justify-content: space-between;
  align-items: center;
  font-family: var(--fontBold);
}

#header div{
  display: flex;
  align-items: center;
  justify-content: center;
}

#header img{
  height: 1.8vw;
}

#header span{
  margin-right: 0.6vw;
  font-size: calc(var(--sizeMedium) * 1px);
}